<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videoya</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>VIDEOYA</h1>
    <video id="video-player" controls playsinline>
      <source type="video/mp4" />
      Your browser doesn't support HTML5 video playback.
      <a href="<%=gifPath%>" target="_blank" rel="noopener">See the gif here</a>
    </video>
    <form enctype="multipart/form-data" method="post" name="files">
      <input class="input-file" type="file" id="bg" name="bg" accept="image/png, image/jpeg, image/gif">
      <label for="bg">Choose a gif or an image</label>
      <input class="input-file" type="file" id="audio" name="audio" accept="audio/mpeg3">
      <label for="audio">Choose an audio</label>
      <div class="input-text">
        <input type="number" id="start" name="start" step=".001" min="0">
        <label for="start">video start</label>
      </div>
      <div class="input-text">
        <input type="number" id="end"  step=".001" name="end">
        <label for="end">video end</label>
      </div>
      <input class="input-file" id="submit" type="submit" name="submit"/>
      <label for="submit">Generate video</label>
    </form>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
