body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #5C97BF;

  overflow-x: hidden;
}

.hidden {
  display: none;
}

video {
  width: 50vw;
  height: auto;

  margin-top: 5vh;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 5px;

  background-color: whitesmoke;
}

@media (orientation: landscape) {
  form {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  form {
    flex-direction: column;
  }
}

form {
  max-width: 95vw;

  padding: 2vw;

  margin-top: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  background-color: whitesmoke;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  padding: 10px;
  margin: 10px;
  font-size: calc(16px + 0.5vw);
  font-weight: 700;
  color: #5C97BF;
  background-color: whitesmoke;
  display: inline-block;
  cursor: pointer;
  border: #5C97BF 1px solid;
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: #5C97BF;
  color: whitesmoke;
}

.input-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label * {
  pointer-events: none;
}

.input-text {
  position: relative;
  padding: 10px;
  border: 1px solid #5C97BF;
  margin: 10px;
}

.input-text > label {
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: whitesmoke;
  color: #5C97BF;
  padding-left: 5px;
  padding-right: 5px;
}

.input-text > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: whitesmoke;
}

h1 {
  width: 100vw;
  color: whitesmoke;
  font-size: calc(16px + 4.5vw);
  text-align: center;
  margin-bottom: 0;
}
